.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    width: 25px;
    height: 25px;
}